.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid gray;
    padding: 10px;
    width: 250px;
    text-align: center;
  }
  
  .product-card img {
    width: 45%;
    height: auto;
  }
  
  button {
    background-color: rgb(166, 249, 157);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: green;
  }